

body {
    background-image: url("../img/fondo_nube.jpg");
    width: 100%;
    min-height: 100vh; 
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px; 
}


footer {
    width: 100%;
  height: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    background-color: #900C3F;
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;


}

.footer__Rodapie {
    line-height: 30px;
}

.social_Media{
    width: 100%;
    text-align: center;
    margin-top: 20px;

}
